{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%block content%}
<div class="tw-flex tw-justify-between tw-mx-auto tw-max-w-lg tw-mt-20">
    <form action="" method="POST">{%csrf_token%}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            Submit
            </button>
        {% endbuttons %}
    </form>
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        <a class="tw-text-white tw-no-underline"href="{%url 'core:logout'%}">Logout</a>
    </button>
    {% endbuttons %}
</div>
{{redirect_to_login_immediately}}
{%endblock%}